.icon-wrapper input {
  max-width: 80%;
}

.icon-wrapper label {
  margin-right: 8px;
}

.icon-wrapper label img {
  fill: #4d1979;
  width: 30px;
  height: 30px;
}

.icon-wrapper label svg {
  fill: #4d1979;
  width: 30px;
  height: 30px;
}
