#iw-icon-wrapper {
  display: flex;
  justify-content: space-between;
}

#iw-social-icons {
  margin: 0 auto;
}

@media (max-width: 420px) {
  #iw-social-icons {
    width: 100% !important;
  }
}

#iw-social-icons a {
  flex: 1;
  margin: 0 8px;
}

#iw-social-icons a:hover {
  text-decoration: none;
}
